; This file is for unifying the coding style for different editors and IDEs.
; More information at http://editorconfig.org

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 2
indent_style = space

## Only add differences from default

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{ini,php,py,rst,sh}]
indent_size = 4

[*.{jinja,jinga2,j2,sls,pillar.example,yml,yaml,yml}]
insert_final_newline = false

[*.sh]
# unknown but used by https://github.com/mvdan/sh
shell_variant      = posix # like -ln=posix
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr
keep_padding       = true  # like -kp

[COMMIT_EDITMSG]
max_line_length = 72
